<!DOCTYPE html>
<html>
    <head>
        <title>Joey's website</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    </head>
    <body>
        <div class="title-wrapper">
            <div>
                <p class="title-content">Joey's room LED website!:)</p>
            </div>
            <div id="on-off-container">
                <label id="led-switch" class="switch">
                    <input name="led-toggle-post" value="value" id="led-toggle" type="checkbox" data-state="0" onclick="toggleLeds(event)" unchecked>
                    <span class="slider round"></span>
                </label>
                <p></p>
            </div>
            <div id="color-container">
                <input class="input" id="color-input" type="number" min="0" max="255">
                <p id="color-vals" class="led-family-text">Color: -</p>
            </div>
            <div id="brightness-container">
                <input class="input" id="brightness-input" type="number" min="0" max="255">
                <p id="brightness-vals" class="led-family-text">Brightness: -</p>
            </div>
            <div id="submit-container">
                <button id="set-led-values" class="led-family-text" type="button" onclick="passHSL()">Set values</button>
            </div>
        </div>
        <!-- <div id="activate-session-container">
            <label id="session-switch" class="switch">
                <input name="session-toggle-post" value="value" id="session-toggle" type="checkbox" data-state="0" onclick="toggleSession()" unchecked>
                <span class="slider round"></span>
            </label>
        </div> -->
    </body>

    <script>
        // Function for passing the HSL 
        function passHSL() 
        {
            // For colors
            colorValueStr = document.getElementById("color-input").value
            colorValueNum = Number(colorValueStr)
            // For brightness
            brightnessValueStr = document.getElementById("brightness-input").value
            brightnessValueNum = Number(brightnessValueStr)
            // Do our own checks for a use inputted number
            colorBrightDict = {
                "color" : [colorValueStr, colorValueNum],
                "brightness" : [brightnessValueStr, brightnessValueNum] 
            }
            for (var key in colorBrightDict) 
            {
                if (colorBrightDict[key][0].length > 3 || colorBrightDict[key][0].length == 0 || colorBrightDict[key][1] < 0 || colorBrightDict[key][1] > 255)
                {
                    alert(`Valid range for ${key} is 0 to 255`)
                    document.getElementById(`${key}-input`).value = ""
                    return                    
                }
            }
            // Send values to service if the LEDs are on
            if (document.getElementById("led-toggle").dataset.state != "1")
            {
                alert("Cannot update the color or brightness of the LEDs if they are off")
                return
            }
            else
            {
                result = httpReq("POST", `/update_led_config?brightness=${brightnessValueStr}&color=${colorValueStr}`, print_response, false)
            }

            if (result == "BAD")
            {
                alert("Issue updating configs")
                return
            }
            console.log(result)
            // Update page
            document.getElementById("color-vals").innerText = "Color: " + colorValueStr
            document.getElementById("brightness-vals").innerText = "Brightness: " + brightnessValueStr
        }

        // Function for turning on and off LEDs
        function toggleLeds(e) 
        {
            var toggle = document.getElementById("led-toggle")
            if (toggle.dataset.state == "1") 
            {
                toggle.dataset.state = "0"
            }
            else 
            {
                // Turning on the LEDs from a fresh start will use the last values in the json. Just be aware of that.
                toggle.dataset.state = "1"
            }
            result = httpReq("POST", "/update_led_config?state="+toggle.dataset.state, print_response, false)
            if (result == "BAD")
            {
                alert("Issue updating configs")
                reutrn
            }
            console.log(result)
        }

        // Function for turning on and off LEDs
        function toggleSession(e) 
        {
            console.log("TO BE IMPLEMENTED")
        }

        // Function for toggling session activation
        function toggle(e) 
        {
            var toggle = document.getElementById("led-toggle")
            if (toggle.dataset.state == "1") 
            {
                toggle.dataset.state = "0"
            }
            else 
            {
                // Turning on the LEDs from a fresh start will use the last values in the json. Just be aware of that.
                toggle.dataset.state = "1"
            }
            result = httpReq("POST", "/update_led_config?state="+toggle.dataset.state, print_response, false)
            if (result == "BAD")
            {
                alert("Issue updating configs")
                reutrn
            }
            console.log(result)
        }

        // How to get data/do things with (a)sync calls
        function httpReq(type, theUrl, callback, async)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() 
            {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) 
                {
                    callback(xmlHttp.responseText);
                }
            }
            xmlHttp.open(type, theUrl, async); // true for synchronous 
            xmlHttp.send(null);
        }

        function print_response(response)
        {
            console.log(response)
        }
    </script>
</html>
 