<!DOCTYPE html>
<html>
    <head>
        <title>Joey's website</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    </head>
    <body>
        <p class="led-family-text">Joey's room LED website!:)</p>
        <div id="activate-session-container">
            <label id="session-switch" class="switch">
                <input name="session-toggle-post" value="value" id="session-toggle" type="checkbox" data-state="0" onclick="toggleSession()" unchecked>
                <span class="slider round"></span>
            </label>
        </div>
        <div id="on-off-container">
            <label id="led-switch" class="switch">
                <input name="led-toggle-post" value="value" id="led-toggle" type="checkbox" data-state="0" onclick="toggleLeds(event)" unchecked>
                <span class="slider round"></span>
            </label>
        </div>
        <div id="color-container">
            <input class="led-family-color" type="color" id="html5colorpicker" value="#000000" style="width:10%;">
            <p class="led-family-text"></p>
            <p id="rbg-vals" class="led-family-text">Red: - Green: - Blue: -</p>
        </div>
        <div id="brightness-container">
            <input id="brightness-input" type="number" min="0" max="255">
            <p id="brightness-vals" class="led-family-text">Brightness: -</p>
        </div>
        <div id="submit-container">
            <button id="set-led-values" class="led-family-text" type="button" onclick="passHSL()">Set values</button>
        </div>
    </body>

    <script>
        // Function for passing the HSL 
        function passHSL() 
        {
            // For colors
            colorPickerValue = document.getElementById("html5colorpicker").value
            r = Number("0x"+ colorPickerValue.substr(1,2))
            g = Number("0x" + colorPickerValue.substr(3,2))
            b = Number("0x" + colorPickerValue.substr(5,2))
            // For brightness
            brightnessValue = document.getElementById("brightness-input").value
            // Do our own checks for a use inputted number
            if (brightnessValue.length > 3 || brightnessValue.length == 0) 
            {
                alert("Valid range for brightness is 0 to 255")
                document.getElementById("brightness-input").value = ""
                return
            }
            if (Number(brightnessValue) < 0 || Number(brightnessValue) > 255) 
            {
                alert("Valid range for brightness is 0 to 255")
                document.getElementById("brightness-input").value = ""
                return
            }
            // Send values to service if the LEDs are on
            if (document.getElementById("led-toggle").dataset.state != "1")
            {
                alert("Cannot update the color or brightness of the LEDs if they are off")
                return
            }
            else
            {
                result = httpGet(`/update_led_config?brightness=${brightnessValue}&color=${r}%2C${g}%2C${b}`, print_response, false)
            }

            if (result == "BAD")
            {
                alert("Issue updating configs")
                reutrn
            }

            // Update page
            document.getElementById("rbg-vals").innerText = "Red: " + r + " Green: " + g + " Blue: " + b
            document.getElementById("brightness-vals").innerText = "Brightness: " + brightnessValue
        }

        // Function for turning on and off LEDs
        function toggleLeds(e) 
        {
            var toggle = document.getElementById("led-toggle")
            if (toggle.dataset.state == "1") 
            {
                toggle.dataset.state = "0"
            }
            else 
            {
                // Turning on the LEDs from a fresh start will use the last values in the json. Just be aware of that.
                toggle.dataset.state = "1"
            }
            result = httpGet("/update_led_config?state="+toggle.dataset.state, print_response, false)
            if (result == "BAD")
            {
                alert("Issue updating configs")
                reutrn
            }
        }

        // Function for turning on and off LEDs
        function toggleSession(e) 
        {
            console.log("TO BE IMPLEMENTED")
        }

        // Function for toggling session activation
        function toggle(e) 
        {
            var toggle = document.getElementById("led-toggle")
            if (toggle.dataset.state == "1") 
            {
                toggle.dataset.state = "0"
            }
            else 
            {
                // Turning on the LEDs from a fresh start will use the last values in the json. Just be aware of that.
                toggle.dataset.state = "1"
            }
            result = httpGet("/update_led_config?state="+toggle.dataset.state, print_response, false)
            if (result == "BAD")
            {
                alert("Issue updating configs")
                reutrn
            }
        }

        // How to get data/do things with (a)sync calls
        function httpGet(theUrl, callback, async)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() 
            {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) 
                {
                    callback(xmlHttp.responseText);
                }
            }
            xmlHttp.open("GET", theUrl, async); // true for synchronous 
            xmlHttp.send(null);
        }

        function print_response(response)
        {
            console.log(response)
        }
    </script>
</html>
 